<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Login</title>
</head>
<body>
  <section class="loginFrame">
      <a class="regLink" href="/templates/registration.html">Зарегистрироваться</a>
      <h3 class="">Войти <i class="material-icons small">exit_to_app</i></h3>
    <form action="/login" method="POST">
     <div class="input-field">
         <input id="username" name="username" type="text" autocomplete="off" required>
          <label for="username">Имя пользователя</label>
     </div>
        <div class="input-field">
          <input id="password" name="password" type="password" autocomplete="off" required>
          <label for="password">Пароль</label>
     </div>
        <button class="btn waves-effect waves-light black" type="submit" name="submit">Войти
            <i class="material-icons right">arrow_forward</i>
        </button>
    </form>
  </section>
<script src="../index.bundle.js"></script><script src="../login.bundle.js"></script></body>
</html>

